# Required for minimum function
# Discord Bot Token from Dev portal
DISCORD_TOKEN = BOT_TOKEN
# Mongodb URI for DB login and auth
MONGODB_URI = URI
# Express server port
PORT = 3000
# Log channel ID for event logging
EVENT_LOG_CHANNEL=1348341000711569582
