{
	"env": {
		"node": true,
		"es2020": true,
		"browser": true
	},
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "airbnb-base", "prettier"],
	"ignorePatterns": ["**/dist/*"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 8,
		"requireConfigFile": false
	},
	"plugins": ["@typescript-eslint"],
	"root": true,
	"rules": {
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/type-annotation-spacing": [
			"error",
			{
				"before": false,
				"after": true,
				"overrides": {
					"arrow": {
						"before": true,
						"after": true
					}
				}
			}
		],
		"block-spacing": "error",
		"brace-style": ["error", "stroustrup"],
		"class-methods-use-this": 0,
		"comma-dangle": ["error", "never"],
		"curly": ["error", "multi-line"],
		"global-require": "off",
		"indent": ["error", "tab"],
		"import/extensions": "off",
		"import/prefer-default-export": "off",
		"import/no-dynamic-require": "off",
		"import/no-unresolved": "off",
		"jsx-quotes": ["error", "prefer-single"],
		"key-spacing": [
			"error",
			{
				"beforeColon": false,
				"afterColon": true,
				"mode": "strict"
			}
		],
		"linebreak-style": ["error", "unix"],
		"max-classes-per-file": "off",
		"max-len": [
			"error",
			{
				"code": 160,
				"ignoreStrings": true,
				"ignoreComments": true,
				"ignoreTemplateLiterals": true
			}
		],
		"no-await-in-loop": "off",
		"no-bitwise": "off",
		"no-console": "error",
		"no-continue": "off",
		"no-tabs": "off",
		"no-param-reassign": 0,
		"no-plusplus": 0,
		"no-prototype-builtins": "off",
		"no-underscore-dangle": "off",
		"no-multi-assign": "off",
		"no-extend-native": "off",
		"no-restricted-syntax": "off",
		"no-unused-vars": "off",
		"no-nested-ternary": "off",
		"no-promise-executor-return": "off",
		"padding-line-between-statements": [
			"error",
			{ "blankLine": "always", "prev": "*", "next": "function" },
			{ "blankLine": "always", "prev": "*", "next": "export" }
		],
		"object-curly-newline": [
			"error",
			{
				"ObjectExpression": {
					"multiline": true,
					"minProperties": 3
				},
				"ObjectPattern": {
					"multiline": true,
					"minProperties": 3
				},
				"ImportDeclaration": {
					"multiline": true,
					"minProperties": 3
				},
				"ExportDeclaration": {
					"multiline": true
				}
			}
		],
		"object-curly-spacing": ["error", "always"],
		"semi": ["error", "always"],
		"space-before-function-paren": [
			"error",
			{
				"anonymous": "never",
				"named": "never",
				"asyncArrow": "always"
			}
		],
		"switch-colon-spacing": [
			"error",
			{
				"after": true,
				"before": false
			}
		]
	}
}
