{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": false
		},
		"transform": {
			"decoratorMetadata": true,
			"legacyDecorator": true
		},
		"target": "esnext",
		"keepClassNames": true,
		"loose": true
	},
	"minify": false,
	"module": {
		"type": "commonjs",
		"lazy": false
	},
	"sourceMaps": "inline"
}
